.bg {
  display: flex;
}
.main {
  flex-grow: 1;
}
.transition {
  position: relative;
  height: 100%;
}
.transition > div {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
@media only screen and (max-width: 600px) {
  .bg {
    flex-direction: column;
    justify-content: stretch;
  }
  .transition {
    height: auto;
  }
  .transition > div {
    height: auto;
  }
}
