.body {
  padding: 3em;
}
.title {
  color: var(--text-darker);
  font-size: 3.3em;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0.1em;
}
.top {
  margin-bottom: 2em;
}
.subtitle {
  color: var(--text-lighter);
  font-weight: 700;
  font-size: 1.3em;
  display: block;
  margin-bottom: 1em;
}
.cards_container {
  display: grid;
  margin-bottom: 3em;
  grid-gap: 3em;
  grid-template-columns: repeat(auto-fill, minmax(10em, 20em));
}
.card_title {
  color: var(--text-lighter);
  font-weight: 700;
  font-size: 1.5em;
  display: block;
  margin-bottom: 0.3em;
}
h3 {
  color: var(--text-darker);
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0.2em;
}
p {
  color: var(--text-darker);
}
.home_bg {
  height: 100%;
  background-position: center;
  background-size: cover;
}
.home_title {
  color: var(--text-darker);
  text-align: center;
  font-size: 3.5em;
  padding-top: 1em;
}
.home_title_second {
  color: var(--text-lighter);
  text-align: center;
  font-size: 3.5em;
}
.cta_bg {
  margin-top: 6em;
  background-color: white;
  border-radius: 3em;
  height: 10em;
  display: flex;
  box-shadow: var(--shadow);
  transition: margin 1.5s;
  padding: 2em;
  margin: 2em;
  margin-top: 15em;
}
.first_line {
  color: var(--text-lighter);
  font-size: 1.7em;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0.3em;
}
.second_line {
  display: flex;
}
.or {
  display: block;
  font-weight: 800;
  color: var(--text-lighter);
  font-size: 1.7em;
  margin: 0.4em 0.3em;
}
.splash {
  display: none;
}
.photo_credit {
  color: var(--text-darker);
  font-weight: 700;
  margin-right: 2em;
  margin-top: 1em;
  float: right;
}

@media only screen and (max-width: 600px) {
  .home_bg {
    height: 100vh;
  }
  .splash {
    display: block;
  }
  .body {
    padding: 2em;
  }
}
