:root {
  --nav-color: #f2cd95;
  --lighter-nav-color: #f7daab;
  --text-darker: #4d210e;
  --text-lighter: #b56c43;
  --background-color: #fff8ed;
  --shadow: 0px 0px 40px -20px rgba(181, 100, 50, 0.7);
}
html,
body {
  font-family: 'Open Sans';
  font-size: 16px;
  margin: 0px;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--text-darker);
}
