.list {
  list-style: none;
  margin: 0;
  padding-top: 3em;
  padding-left: 2em;
}
.list li {
  margin-bottom: 0.9em;
}
.bg {
  background-color: var(--nav-color);
  min-height: 100vh;
  width: 12em;
  box-shadow: var(--shadow);
}
.nav_link {
  font-size: 1.3em;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-lighter);
  transition: color 1s;
}
.active_nav_link {
  color: var(--text-darker);
  font-weight: 700;
}
