.bg {
  background-color: var(--lighter-nav-color);
  min-height: 100vh;
  width: 14em;
  z-index: 100;
  transition: width 1s;
}
.closed.bg {
  width: 0;
}
.logo {
  width: 6em;
  margin-top: 7em;
  margin-left: 4em;
  opacity: 1;
  transition: opacity 0.5s;
  pointer-events: none;
}
.closed.logo {
  opacity: 0;
}
h1 {
  font-size: 4.5em;
  font-weight: 800;
  margin: 0;
  line-height: 110%;
}
.darker {
  color: var(--text-darker);
}
.lighter {
  color: var(--text-lighter);
}
.title {
  position: relative;
  margin-top: 7em;
  left: 4em;
  width: 30em;
  transition: margin 1s;
}
.title.closed {
  margin-left: -33em;
}
.cta_bg {
  margin-top: 6em;
  background-color: white;
  width: 33em;
  border-radius: 3em;
  height: 10em;
  display: flex;
  box-shadow: var(--shadow);
  transition: margin 1.5s;
  /* animation-name: sway;
  animation-delay: 1.5s;
  animation-duration: 5s;
  animation-iteration-count: infinite; */
}
.cta_bg.closed {
  margin-left: -40em;
}
/* @keyframes sway {
  0% {
    margin-left: -1em;
  }
  50% {
    margin-left: 0em;
  }
  100% {
    margin-left: -1em;
  }
} */
.cat {
  width: 12em;
  height: 12.8em;
  position: relative;
  top: -2.8em;
}
.first_line {
  color: var(--text-lighter);
  font-size: 2em;
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0;
  margin-left: 0.3em;
}
.second_line {
  display: flex;
}
.or {
  display: block;
  font-weight: 800;
  color: var(--text-lighter);
  font-size: 1.7em;
  margin: 0.4em 0.3em;
}
